<!doctype html>
<html lang='en' data-version='{{timestamp}}'>

<head>

	{{> base/meta}}

	<!-- smoosh -->
	<link rel='stylesheet' href='bundle.css' />
	<!-- endsmoosh -->

	<!-- boilerplate.css -->

	{{> base/font}}
	<!-- smoosh -->
	<script src='critical.js'></script>
	<!-- endsmoosh -->

	{{> base/analytics }}

</head>

<body class='tk-publico'>

	{{> base/header }}

	<main id='content'>


		<!-- PUT ALL YOUR HTML HERE-->
		{{> story/intro }}
		{{> story/introTwo }}
    {{> story/XYChart }}
		{{> story/middle_paragraphs }}
		{{>story/change_flow}}
    {{>story/outro}}




	</main>


	

	<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
	<script src='bundle.js?version={{timestamp}}' async></script>
	
</body>

</html>
