/* CUSTOM STORY STYLE */
.logo
  text-decoration:underline

#scroll_chart
  position:relative





#xy-chart-container
    position: sticky
    top:0
    left: 0
    margin-left:15px;
    margin-right:15px;

    width:100%

#flow_chart
  position: sticky;
  left: 0;
  bottom: auto;
  width:100%

.is-fixed
  position:fixed

.step p
  margin:auto
  max-width:400px
  box-sizing: border-box
  background-color: white;
  z-index: 1000 !important;
  opacity:1 !important
  box-shadow: 0 0 12px 3px lightgrey
  position:relative
  padding: 1em

#table-step
    margin:auto
    max-width:400px
    box-sizing: border-box
    background-color: white;
    z-index: 1000 !important;
    opacity:1 !important
    box-shadow: 0 0 12px 3px lightgrey
    position:relative
    padding: 1em


.first_step
  margin:auto
  padding:50px
  padding-top:10px



.active
  transition: opacity 0.3s
  -webkit-transition: opacity 0.3s
  opacity: 1



.inactive
  opacity:0

.change-flow-intro
  margin-bottom:100px

//styles for the second chart container

#flow_chart
  max-width:500px
  margin:auto

#flow_intro
  margin-top:100px
  margin-bottom:100px

.step2 p
  margin:auto
  max-width:400px
  box-sizing: border-box
  background-color: white;
  z-index: 1000 !important;
  opacity:1 !important
  box-shadow: 0 0 12px 3px lightgrey
  position:relative
  padding: 1em

#outro
  margin-top:100px
  margin-bottom:100px

//intro two styles

#intro-two
  padding:50px
  padding-bottom:10px

th
  padding-bottom:5px
  padding-top:20px

td
  padding-right:10px
table
  margin-bottom:15px

#middle-paragraph
  margin-top:100px


.source-l
  font-size:10px