/* CUSTOM STORY STYLE */

#scroll_chart
  position:relative





#xy-chart-container
    position: sticky;

    left: 0;
    bottom: auto;
    width:100%

.is-fixed
  position:fixed

.step
  margin:auto
  max-width:400px


.active
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  opacity: 1;
  


.inactive
  opacity:0
