


<div>
  <div class='flow-full-container'>

  <div><p>
   To get a further understanding of how much people that smoke and are obese cost the chart below shows the change in our subgroups between
   each subgroups percentage of  the total data
   set population to the percent of charges this subgroup incurres out of the total amount of charges in the whole dat set.
  </p></div>
  <div id='flow_chart'></div>
  <div class = 'step2 inactive'><p>
          We see here that the smoker and obese subgroup(in red) makes up only 11% of the total population but has the highest ratio of charges at 34%
          more than any other subgroup
  </p> </div>
  <div class = 'step2  inactive'><p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> </div>
   </div>
</div>
