


<div>
  <div class='flow-full-container'>

  <div><p>
   To further demonstrate of how much smoking and are obesity cost the chart below shows the differences between
   each group categories' percentage of the total data set population (or count) and the percent of charges this subgroup incurres out of the total amount of charges (sum) in the whole dat set.
  </p></div>
  <div id='flow_chart'></div>
  <div class = 'step2 inactive'><p>
          Demonstrated in this chart that the smoker and obese subgroup(in red) makes up only 11% of the total population, but has the highest ratio of charges at 34%
          more than any other subgroup
  </p> </div>
  <div class = 'step2  inactive'><p> Using this dataset to estimate cost savings of eleminated smoking and obesity. We can calculate that the U.S.
                                        Healthcare sytem would save over a trillion dollars by eleminating obesity and smoking. Plus we would see an additional
                                         bonus in quality of life.</p> </div>
   </div>
</div>
