


<div>
  <div class='flow-full-container'>

  <div><p>
   To get a further understanding of how much people that smoke and are obese cost the chart below shows the change in our subgroups between
   each subgroups percentage of  the total data
   set population to the percent of charges this subgroup incurres out of the total amount of charges in the whole dat set.
  </p></div>
  <div id='flow_chart'></div>
  <div class = 'step2 inactive'><p>
          We see here that the smoker and obese subgroup(in red) makes up only 11% of the total population but has the highest ratio of charges at 34%
          more than any other subgroup
  </p> </div>
  <div class = 'step2  inactive'><p> Using this dataset to estimate cost savings of eleminated smoking and obesity. We can calculate that the U.S.
                                        Healthcare sytem would save over a trillion dollars by eleminating obesity and smoking($3.5 Trill *.34). Plus we would see an additional
                                         bonus in quality of life. "</p> </div>
   </div>
</div>
