<div>
<div id='intro-two'> In 2017 US healthcare spending reached $3.5 trillion dollars<sup>[1]</sup>.
                      Accounting for 17.9 percent of the total U.S Gross Domestic Product<sup>[1]</sup>.
                      On Average this is $10,348 dollars per person<sup>[1]</sup>. In 1958 the per capita health expenditures
                      (this figure includes both public and private spending on healthcare) was $134 <sup>[2]</sup> a worker earning the average wage
                      would need to work about 15 days <sup>[2]</sup> to cover their yearly healthcare cost. In 2012 the per capita health expenditure had reason to $8,953 dollars <sup>[2]</sup>.
                      This means that now a worker earning an average wage would need to work 58 more days a year to cover their healthcare. The Cost of healthcare can be felt by all of us.


  </div>


<div class='first_step'>
   The insurance.csv <sup>[3]</sup> data set provides insurance charges for over a thousand individuals.
     The data set also provides other factors that we will  use to identify factors that contribute to healthcare cost BMI and Smoking.
     Lets start by visualizing the data by plotting it in a chart. We will look at  insurance cost by age as we will see that the older one becomes the more health insure cost one incure.
  </div>
</div>
