<div>
<div id='intro-two'> In 2017 US healthcare spending reached $3.5 trillion dollars.
                      Accounting for 17.9 percent of the total U.S Gross Domestic Product.
                      On Average $10,348 dollars per person. In 1958 the per capita health expenditures
                      (this figure includes spending public and private spending on healthcare) was $134 a working earning the average wage
                      would need to work about 15 days to cover their years healthcare cost. In 2012 the per capita health expenditure had reason to $8,953
                      a working earning an average wage would take 58 days to cover their healthcare. The Cost of healthcare can be felt by all of us.


  </div>


<div class='first_step'>
   The insurance.csv (https://github.com/stedy/Machine-Learning-with-R-datasets/blob/master/insurance.csv) data set provides insurance charges for over a thousand individuals.
     The data set also provides other factors that we will  use to identify factors that contribute to healthcare cost.
     Lets start by visualizing this data by plotting it. We will plot insurance cost by age as we know that the older we get the more healthinsure cost we incure.
  </div>
</div>
