<div>
  <div class = 'first_step' id='middle-paragraph'>
    <p> According to research presented at a meeting of the American Chemical Society on September 11, 2013.
         “Our research shows that smoking and obesity together may pose a triple health threat in addition to the increased risks for heart disease,
         cancer and diabetes,” said Aaron Wright, Ph.D., who reported on the study.
         “That dangerous combination impacts key mechanisms by which both the lung and liver perform metabolism.
         For example, the body’s ability to metabolize prescription drugs may be altered in ways that could make standard
         dosages too high or too low to be effective in obese people who are exposed to tobacco smoke."
     </p>
  <div>
  <div>
    <p> Further Obesity and Smoking independently have adverse health effects on on the heart lung and many other of the bodies key functions.
      Obesity and Smoking together lead to compound effects that is worse together than separtely.</p>
  <div>
  <div>
    <p> The link between obesity and smoking leading to higher medical charges is alarming as both obesity and smoking are linked to poverty.
      "For instance, counties with greatest rates of poverty have greatest diabetes rates too" (from obesity)
      Adults without a highschool degree are three times more likely to be a smoker.
       "In 2009, 27% of people living in the U.S. with annual household outcomes below $25,000 were uninsured (no private or government health insurance).
       This cohort represents, 15,483,000 people, ∼5 million with obesity and ∼1 million with diabetes"
       When these people can not pay there  medical bills this cost is passed onto everyone else in the system.
       Addtionly with expanded healthcare in The U.S. these cost end up in health insurance pools, medicare, and states medicaid programs which we all collectivaly end up paying for. </p>
  <div>
</div>
