<div id ='outro' class='non-step-p'> Even though healthcare is getting more expensive investments in a healthier society can greatly reduce cost.
                                     If you want to quit smoking you can find information
                                      <a  class='quit-smoking' href='https://www.lung.org/stop-smoking/i-want-to-quit/'> Here</a>.
                                      If you are looking to fight obesety and lose wieght you can start
                                      <a  class='quit-smoking' href='http://www.heart.org/en/healthy-living/healthy-eating/losing-weight/extreme-obesity-and-what-you-can-do/'> Here</a>.
                                      Do eathier would be an incredible investment in your own personal health. As we move to a healthcare sytem where cost are shared more we as a society can save trillions of dollars by fighting
                                      the combined factors of obesity and smoking. 
                                       </div>
