<div id ='outro' class='non-step-p'> Even though healthcare is getting more expensive long term investments in a healthier can greatly reduce cost.
                                     If you want to quit smoking you can find information
                                      <a  class='quit-smoking' href='https://www.lung.org/stop-smoking/i-want-to-quit/'> Here</a>.
                                      If you are looking to fight obesety and lose wieght you can start
                                      <a  class='quit-smoking' href='http://www.heart.org/en/healthy-living/healthy-eating/losing-weight/extreme-obesity-and-what-you-can-do/'> Here</a>.
                                      Doing eathier would be an incredible investment in your own personal health. As we move to a healthcare sytem where cost are shared more we as a society can save trillions of dollars by fighting
                                      the combined factors of obesity and smoking. 
                                       </div>

<div class="source-l">1. <a href="https://www.cms.gov/research-statistics-data-and-systems/statistics-trends-and-reports/nationalhealthexpenddata/downloads/highlights.pdf">https://www.cms.gov/research-statistics-data-and-systems/statistics-trends-and-reports/nationalhealthexpenddata/downloads/highlights.pdf</a></div>
<div class="source-l">2. <a href="https://www.forbes.com/sites/chrisconover/2012/12/22/the-cost-of-health-care-1958-vs-2012/"> https://www.forbes.com/sites/chrisconover/2012/12/22/the-cost-of-health-care-1958-vs-2012/</a></div>
<div class="source-l">3. <a href="https://github.com/stedy/Machine-Learning-with-R-datasets/blob/master/insurance.csv">https://github.com/stedy/Machine-Learning-with-R-datasets/blob/master/insurance.csv</a></div>
<div class="source-l">4. <a href="https://www.newswise.com/articles/obesity-combined-with-exposure-to-cigarette-smoke-may-pose-new-health-concerns">https://www.newswise.com/articles/obesity-combined-with-exposure-to-cigarette-smoke-may-pose-new-health-concerns</a></div>
<div class="source-l">5. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3198075/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3198075/</a></div>
<div class="source-l">6. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5648617/">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5648617/</a></div>