







<div class='xy-full-container'>
<div id= 'xy-chart-container'>
</div>
  <div class= 'scroll__text'>
    <div class = 'step inactive'> <p>Plotting the data  we can see that yes age is a factor on health insurance cost as the data, but more couriously it seems that the data is split into three distinct groups.
       drawing lines seperating them makes them more distinct. </p>  </div>
    <div class = 'step inactive'> <p>Now that we have seperated the data into three distinct groups we can highlight the differences in this group by adding color to each data point by categorical data.  </p></div>
    <div class = 'step inactive'>  <p>The data is placed into foru groups individuals that are Obese and Smoke, Obese only, Smoker only, and  Non Smoker and Not Obese. We can see that are top group is attributed to individuals that smoke and are obese.</p> </div>
    <div class = 'step inactive'> <div id='table-step'> A simple linear model that controls for age shows the additional cost of being in each subgroup as opposed to being a non smoker and not obese.
         <table>
            <tr id = 'heading'>
              <th>sub Group</th>
              <th>Addition Charges</th>

          </tr>
          <tr>
            <td>Obese Only</td>
            <td> $13421.19 </td>

          </tr>
          <tr>
            <td>Smoker Only</td>
            <td>$142.995</td>

            </tr>
            <tr>
              <td>Obese and Smoker</td>
              <td>$33269.21</td>

              </tr>
          </table>
          These results show that Smoking and being Obese incures the medical cost of almost 3x of being Obese alone.
        </div>
     </div>
     <div class = 'step inactive'>
       <p>Why is this ...</p>
    </div>
  </div>

</div
