







<div class='xy-full-container'>
<div id= 'xy-chart-container'>
</div>
  <div class= 'scroll__text'>
    <div class = 'step inactive'> <p>"Plotting the data  it shows that yes age is a factor on health insurance cost as the data is </p>  </div>
    <div class = 'step inactive'> <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p></div>
    <div class = 'step inactive'>  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
       quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> </div>
    <div class = 'step inactive'> <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p></div>
  </div>

</div
